html {
    cursor: url(../imgs/mata_mosquito.png) 30 30, auto;
}

body {
  margin: 0;
  padding: 0;
  background: url('../imgs/bg.jpg') no-repeat center center fixed;
  background-size: cover; /* Faz a imagem ocupar toda a tela */
  height: 100vh;          /* Garante que sempre preencha a altura da tela */
  width: 100vw;           /* Garante que sempre preencha a largura da tela */
}

.mosquito1 {
    height: 50px;
    width: 50px;
}

.mosquito2 {
    height: 100px;
    width: 100px;
}

.mosquito3 {
    height: 150px;
    width: 150px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #ffffff7f;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}